@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

.bg-gradient-radial {
  background: radial-gradient(circle, #1e3a8a, #ffffff); 
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}
